@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Indie+Flower&family=Josefin+Sans:wght@458&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Roboto+Slab:wght@300&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    position: relative;
}

.navbar {
    padding: 10px;
}

.dropdown-menu {
    padding: 10px;
    margin: 10px;
}

.contact, .home {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home-bg {
    background-image: url('../images/Gerald-G-Girl-Driving-Car-Cartoon-1.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: local;
    height: 100vh;
    z-index: -5;
   
}

@media (max-width: 768px) {
    .home-bg {
        background-size: cover;
        height: 100vw;
    }
}

.main-bg {
    animation-name: load;
    animation-duration: 2s;
    animation-delay: 1s;
}

@keyframes load {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}



.home {
    align-items: center;
}

.home-heading {
    font-size: 10em;
    top: 0;
    left: 0;
    margin-top: 50px;
    
    z-index: 3;
    color: black;
    text-shadow: blue;
}

.home-heading > h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 800;
    z-index: 3;
    text-shadow: gray;
}

#anim {
    animation-name: display;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    z-index: 2;
}

@keyframes display {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.contact-links-header {
    min-height: 150px;
}

.contact-links-header > h2 {
    font-family: 'Amatic SC', cursive;
    font-size: 2.5em;
    text-align: center;
    
    
}


.row-content {
    margin:0px auto;
    padding: 0px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height:200px;
}

.about-me-content {
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
    padding: 10px;
}

.skill-content {
    font-family: 'Libre Baskerville', serif;
    padding: 10px;
}

.card-format {
    transition: transform 0.5s, z-index 0.5s, box-shadow 0.5s;
    margin: 10px;
}

.card-format:hover {
    transform: scale3d(1.1, 1.1, 1.1);
    z-index: 2;
    box-shadow: 10px 10px 10px 1px gray, -10px 20px 10px 1px grey;
}

.about-info {
    box-shadow: 10px 10px 5px 1px gray;
}

.links {
    text-decoration: none;
    color: white;
}

.links:hover {
    text-decoration: none;
    color: aqua;
}

.contact-card {
    box-shadow: 2px 5px 5px 5px grey;
    margin: 10px;
}

.card-title, .card-text {
    text-align: center;
}

#contact-me {
    background-image: url(../images/plane.svg);
    background-size: contain;
    
    background-position: left;
    background-repeat: no-repeat;
    text-align: center;
}

#contact-me > ul {
    
    list-style: lower-greek;
    list-style-position: inside;
}

@media (max-width: 768px) {
    #contact-me {
        background-position: right;
        text-align: left;
        padding-right: 5px;
        margin-right: 5px;
    }

    #contact-me > p {
        margin-right: -5px;
    }

    #contact-me > ul {
        list-style-type: decimal;
        list-style: lower-greek;
        
    }
}

.footer {
    padding: 5px;
    align-items: center;
    justify-content: center;
}

.tab-content {
    padding: 10px;
}


.button {
    border-radius: 30%;
    text-align: center;
    background-color: #f1f1f1;
    color: cadetblue;
    box-shadow: 0 5px 15px -2px gray;
    display: inline-block;
}

.button span {
    transition: 0.2s linear;
}

.button:hover span {
    transform: scale(1.3);
    color: #f1f1f1;
}