@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Indie+Flower&family=Josefin+Sans:wght@458&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Roboto+Slab:wght@300&display=swap');

.contact, .home {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home-bg {
    background-image: url('../images/Gerald-G-Girl-Driving-Car-Cartoon-1.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
    height: 500px;
    margin-top: 50px;
    z-index: -5;

}

@media (max-width: 768px) {
    .home-bg {
        background-size: cover;
        height: 100vw;
    }
}

.main-bg {
    animation-name: load;
    animation-duration: 2s;
    
}

@keyframes load {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.home {
    align-items: center;
}

.home-heading {
    font-size: 10em;
    top: 0;
    left: 0;
    margin-top: 50px;
    
    z-index: 3;
    color: black;
    text-shadow: blue;
}

.home-heading > h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 800;
    z-index: 3;
    text-shadow: gray;
}

#anim {
    animation-name: display;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    z-index: 2;
}

@keyframes display {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.contact-links-header {
    min-height: 150px;
}

.contact-links-header > h2 {
    font-family: 'Amatic SC', cursive;
    font-size: 2.5em;
    text-align: center;
    
    
}


.row-content {
    margin:0px auto;
    padding: 0px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height:200px;
}

.about-me-content {
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
    padding: 10px;
}

.skill-content {
    font-family: 'Libre Baskerville', serif;
    padding: 10px;
}

.card-format {
    transition: transform 0.5s, z-index 0.5s, box-shadow 0.5s;
    margin: 10px;
}

.card-format:hover {
    transform: scale3d(1.1, 1.1, 1.1);
    z-index: 2;
    box-shadow: 10px 10px 10px 1px gray, -10px 20px 10px 1px grey;
}

.about-info {
    box-shadow: 10px 10px 5px 1px gray;
}

.links {
    text-decoration: none;
    color: white;
}

.links:hover {
    text-decoration: none;
    color: aqua;
}

.contact-card {
    box-shadow: 2px 5px 5px 5px grey;
    margin: 10px;
}

.footer {
    padding: 5px;
    align-items: center;
    justify-content: center;
}

.tab-content {
    padding: 10px;
}